# Virtual Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.src/__pycache__/

# Environment Secrets
.env

# OS-specific files
.DS_Store
Thumbs.db

#Supercell Store Claimer Session Secrets
config/auth.json
config/browser_config.json
current_missions.json